# Node.js
node_modules/

# Временные файлы редакторов
.vscode/
.idea/
*.log

# Временные файлы операционной системы
.DS_Store
Thumbs.db

# Операционные системы
*.bak
*.swp
*.swo

# Логи и кеши
*.log
.cache/

# Исключаем личные файлы
*.env
*.secret
